
/*

#introBG{
        background-image: url("../1004Project/gameImages/bg2.jpg");
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        }

#introChar1{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\introChar1.jpg");
}

#introChar2{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\inGameBG.jpg");
}

#gameBG{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\introChar1.jpg");
}

#player{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\inGameChar.jpg");
}

#platform{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\Platform.jpg");
}

#platformCrumb{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\Platform_crumb.jpg");
}

#fireEntity{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\FireEntity.jpg");
}

#goblin{
    image: url("C:\Users\brook\source\repos\1004Project\gameImages\Goblin.jpg");
}
*/